* {
    margin: 0;
    padding: 0;
  }
  
  .topnav {
    position: sticky;
    background: rgba(0, 0, 0, 0.877);
    overflow: hidden;
    /* margin: 0 auto; */
    
    position: fixed;
    width:100%;
    z-index: 3;
  }
  .navLink {
    display: flex;
    justify-content: center;
  }
  .topnav button {
    background-color: transparent;
    display: inline-block;
    left: 50%;
    color: #b97f7f;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav button:hover {
    background-color: rgba(59, 59, 59, 0.616);
    color: whitesmoke;
  }
  
  /* Add a color to the active/current link */
  .topnav button.active {
    background-color: #04aa6d;
    color: white;
  }
  .homePost,
  .homeProfile {
    float: left;
  }